/* Ajoutez vos styles globaux ici */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: inter;
    margin: 0;
    padding: 0;
}

#app{
    background-color: rgb(240, 240, 240);
    padding: 8px;
}

.h1 {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
}

.h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.h4 {
    margin: 0;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
}


.textMedium {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.textBlack {
    color: black;
}
.textDimmed {
    color: gray;
}
.textWhite {
    color: white;
}

.spacing_xs{
    margin-bottom: 2px;
}
.spacing_sm{
    margin-bottom: 4px;
}
.spacing_md{
    margin-bottom: 8px;
}


.container {
    padding: 20px;
}

